@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-desaturated-cyan: hsl(180, 29%, 50%);
  --color-grayish-background: hsl(100, 52%, 96%);
  --color-grayish-filter: hsl(180, 31%, 95%);
  --color-grayish-cyan: hsl(180, 8%, 52%);
  --color-dark-grayish-cyan: hsl(180, 14%, 20%);
}

body {
  font-size: 15px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
